* {
  padding: 0;
  margin: 0;
  --green: #a2ceaa;
  --purple: #644aa1;
  --gold: #d8bf7c;
}

body {
  font-family: 'Chewy', cursive;
  font-size: 20px;
  background: var(--green);
  color: white;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
