* {
  padding: 0;
  margin: 0;
  --green: #a2ceaa;
  --green-lite: #c2e9c9;
  --green-dark: #98b89e;
  --purple: #644aa1;
  --gold: #d8bf7c;
  --white: #f1f1f1;
  --gray: #e2e2e2;
  --offwhite: rgb(255, 249, 232);
  --offwhite2: rgb(252, 251, 249);
  --darkgray: rgb(49, 49, 49);
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  background: var(--offwhite);
  color: var(--offwhite);
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, a, th {
  font-family: 'Chewy', cursive;
  color: var(--purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
